# build output
dist/
# generated types
.astro/
.cache/
.jampack/
.lighthouseci/
coverage/
__snapshots__/
.snap
playwright-report/
test-results/
fontsubset.txt
lint_js.txt
lint_css.txt

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*

# environment variables
.env
.env.production
.env.local
.env.*.local

# macOS-specific files
.DS_Store

# Hosting
.firebase
.firebaserc
.vercel

# Images
public/images

# Fonts
*.ttf
*.otf
src/styles/fonts
public/fonts
