---
import MainLayout from '~/layouts/MainLayout.astro'
import Navigation, { navItem } from '~/components/Navigation/Navigation.astro'
import PostListItem from '~/components/blog/PostListItem.astro'
import Footer from '~/components/Footer/Footer.astro'
import { getSortedPostsFromGlob } from '~/utils/fetchPosts'

export const prerender = true
const sortedPosts = getSortedPostsFromGlob()
const count = sortedPosts.length

export interface Props {
  currentPage?: navItem
}
const { currentPage } = Astro.props as Props
---

<MainLayout title='ramblings'>
  <Navigation currentPage={currentPage} />
  <h1>ramblings</h1>
  <ol start={count} class='post-list' reversed data-pagefind-ignore>
    {sortedPosts.map((post) => <PostListItem {...post} />)}
  </ol>
  <Footer />
</MainLayout>
