---
import DarkModeToggle from './DarkModeToggle.astro';
import Nav from './Nav.astro';
---

<header>
  <a
    class="unset absolute left-[50%] -top-[100rem] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <Nav />
  <div class="no-print flex content-center items-center justify-self-end py-2 text-text-bold max-[375px]:hidden">
    <a class="unset ml-4 text-xl hover:text-text-link" href="/rss.xml">
      <i class="fa-solid fa-rss" aria-hidden="true" title="RSS feed"></i>
      <span class="fa-sr-only">RSS feed</span>
    </a>
    <a class="unset ml-4 text-xl hover:text-text-link" href="https://github.com/codewoods">
      <i class="fa-brands fa-github" aria-hidden="true" title="Lin on GitHub"></i>
      <span class="fa-sr-only">Lin on GitHub</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
  }
</style>
