---
---

<!-- @credit: https://github.com/Sealjay/sealjay-blog/blob/main/src/src/components/partials/BlogPostOld.astro -->
<div class='info-outdated'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    class='info-outdated__icon'
  >
    <circle cx='12' cy='12' r='10'></circle>
    <line x1='12' y1='16' x2='12' y2='12'></line>
    <line x1='12' y1='8' x2='12' y2='8'></line>
  </svg>
  <small class='info-outdated__text'>
    <strong>Heads up!</strong> This information might be outdated since it was last updated over a year ago. Please double-check
    the information before relying on it.
  </small>
</div>
