---
import { loadDefaultTraditionalChineseParser } from 'budoux'
import { formatDistance, differenceInDays } from 'date-fns'
import { machineDate, readableDate } from '~/utils/getFormattedDate'

const parser = loadDefaultTraditionalChineseParser()
const { frontmatter, url } = Astro.props
---

<li class='post-list__item'>
  <a class='post-list__link' href={url} aria-label={`Permalink to ${frontmatter.title}`}>
    <span class='post-list__title' set:html={parser.translateHTMLString(frontmatter.title)} />
  </a>
  <span class='screen-reader'>was published on</span>
  <time class='post-list__timestamp' datetime={machineDate(frontmatter.pubDateTime)}>
    {
      differenceInDays(new Date(), new Date(frontmatter.pubDateTime)) > 365
        ? `${formatDistance(new Date(frontmatter.pubDateTime), new Date(), {
            addSuffix: true
          })}`
        : readableDate(frontmatter.pubDateTime)
    }
  </time>
</li>
