---
/* 
  This layout is used in pages that render markdoc content
  - pages/[slug].astro
*/

import '../styles/theme.css';
import '../styles/global.css';

import GoogleFont from './GoogleFont.astro';
import FontAwesome from './FontAwesome.astro';
import ThemeScript from './ThemeScript.astro';
import Favicon from './Favicon.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getFormattedDate } from '../utils/getFormattedDate';
import { LANG } from '../config';

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
---

<!DOCTYPE html>
<html class="theme-sleek" lang={LANG}>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <Favicon />
    <slot name="meta" />
    <ThemeScript />
    <GoogleFont />
    <FontAwesome />
    <link rel="stylesheet" href="styles/print.css" media="print" onload="this.media='all'" />
  </head>

  <body class="mx-auto min-h-screen max-w-3xl px-6 sm:px-8">
    <Header />
    <main id="main">
      <section class="blog-post prose prose-sleek max-w-none pt-4">
        <h1 class="m-0 mb-[0.25em] font-extrabold">{title}</h1>
        <span class="sr-only">Published on</span>
        <time class="mb-[2em] block text-text-muted">{getFormattedDate(date)}</time>
        <slot name="content" />
      </section>
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
